
body{
    background-color: grey;
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
}
#nav-bar{
    background-color: blue;
    position: sticky;
    top:0;
    z-index:10;
}

.navbar-brand img{
    height: 40px;
    width: 290px;
    padding-left: 30px;
    font-weight: bolder;
    color: #fff;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    float: right;
    text-align: left;  
}

#nav-bar ul li a:hover{
    color: lightskyblue!important;
}

.navbar-toggler{
    border: none!important;
}

.nav-link
{
    color: yellow;
    
    font-weight: 600;
    font-size: 16px;
}

#slider{
    margin: 10px auto;
    width:85%;
              
 }

 #slider .carousel-inner .carousel-item img{
    height: 400px;
    
}


#partners{
    
    color: #555;
   
    
    
}

#partners .container h1{
    text-align: center;
    color: blue !important;
    padding: 0 0 5px 0;
    text-decoration: underline grey;
}



.img-box img{
    opacity: 5;
    margin: 5px auto 80px auto;
    width: 300px;
    height: 200px;
    padding: 0px auto;
    border: 1px solid  #fff;
    border-radius: 0%;

}

.partner-logo .img-box{
   opacity: 1;
   display: block;
   position: relative;
} 

.partner-logo .img-box img:hover{
    filter: grayscale(1);
    cursor: pointer;
}


#products{
    background-color: #fff;
}

#products .container h1{
    text-align: center;
    color: blue !important;
    padding: 0 0 5px 0;
    text-decoration: underline grey;
}



.product-pic .img-box img{
    
    opacity: 5;
    margin: 5px auto 30px auto;
    width: 250px;
    height: 250px;
    padding: 0px auto;
    border: 1px solid  #fff;
    border-radius: 0%;
    background-color: lavender;

}

.product-pic-mil .img-box img{
    opacity: 5;
    margin: 5px auto 30px auto;
    width: 530px;
    height: 250px;
    padding: 0px auto;
    border: 1px solid  #fff;
    border-radius: 0%;
    background-color: lavender;

}




.product-pic .img-box{
   opacity: 1;
   display: block;
   position: relative;
} 

.product-pic .img-box img:hover{
    filter: grayscale(1);
    cursor: pointer;


}
 


